<h1>Carrito</h1>

{{#if products.length}}
  <ul>
    {{#each products}}
      <li>
        <p>Producto: {{this.title}}</p>
        <p>Cantidad: {{this.quantity}}</p>
        <p>Precio: {{this.price}}</p>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No se encontraron productos en el carrito.</p>
{{/if}}


