<div>

    <h1>Iniciar sesion</h1>

    <form id="loginForm" >

        <label>Email</label>
        <input name="email">

        <label>Contraseña</label>
        <input type="password" name="password">

        <input type="submit">
    </form>

    <p>Iniciar sesion con: <a href="api/sessions/github"><button>GITHUB</button></a></p>
<a href="/register">¿No tienes una cuenta? Registrate</a>
</div>

<script src="/js/login.js"></script>